{% extends 'admin/base.html'%}
{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>
     &rsaquo; <a href="{% url 'admin:django_json_forms_jsonformmodel_changelist' %}">Forms</a>
     {% if json_form %}
     &rsaquo; <a href="{% url 'admin:django_json_forms_jsonformmodel_change' json_form.id %}">{{json_form}}</a>
     &rsaquo; Designer
     {% endif %}
    </div>
{% endblock %}
{% load staticfiles %}
{% block content %}
  <head>
    <title>My Angular App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
    <script src="{% static 'scripts/designer.js' %}"></script>
    <script>
    angular.module('DesignerApp').config(['$httpProvider', function($httpProvider) {
	    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
	}]);
	</script>
    
  </head>
  	
	<div ng-app="DesignerApp" ng-controller="DesignerController" ng-init='initialize({{init|safe}})'>
	<h3>Form Fields</h3>
		<table>
		<tr><th>Required</th><th>Type</th><th>Name</th><th>Label</th><th>Help Text</th><th>Options</th><th></th></tr>
		<tr ng-repeat="field in fields">
			<td><input type="checkbox" ng-model="field.required" ></td> <!-- ng-true-value="1" -->
			<td><select ng-model="field.type" ng-options="type for type in field_types"></select></td>
			<td><input ng-model="field.name"/></td>
			<td><input ng-model="field.label"/></td>
			<td><textarea ng-model="field.help_text"></textarea></td>
			<td>
				<div ng-if="['select','radio'].indexOf(field.type) != -1">
					<p><b>Choices:</b></p>
					<div ng-repeat="choice in field.choices">
						<input ng-model="choice.name" placeholder="name">
						<input ng-model="choice.value" placeholder="value">
						<button ng-click="removeOption(field,$index);">Remove</button>
					</div>
					<button ng-click="addOption(field);">Add option</button>
				</div>
			</td>
			<td>
				<button ng-click="removeField($index);">Remove</button>
			</td>
		</tr>
		</table>
		<button ng-click="addField()">Add Field</button>
		<button ng-click="save()" ng-if="id != null">Save</button>
		
		
		<form target="_blank" action="{% url 'test_json_form' %}" method="POST">
			{% csrf_token %}
			<h3>JSON representation</h3>
			<pre>
			{[fields | json]}
			</pre>
			<input type="hidden" name="fields" value="{[fields]}"></textarea>
			<button>Test</button>
		</form>
	</div>
{% endblock %}