{% extends 'admin/base.html'%}
{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>
     &rsaquo; <a href="{% url 'admin:django_json_forms_jsonformmodel_changelist' %}">Forms</a>
     &rsaquo; <a href="{% url 'admin:django_json_forms_jsonformmodel_change' json_form.id %}">{{json_form}}</a>
     &rsaquo; Responses
    </div>
{% endblock %}
{% block content %}
<table>
{% for response in responses %}
<tr>
<td>{{response.timestamp}}</td>
<td><a href="{% url 'response' pk=response.pk %}">View</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}